#backgroundImage {
  background-image: url("/images/background2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  padding: 25px;
}
body {
  background-color: black;
  font-size: larger;
}
#convertButton {
  text-align: center;
}

#conversionOutput {
  color: black;
}

header h1 {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}
